.form-on-dark .form-control {
    border-color: #f9f9f9;
    color: #6dc234;
}

.configform .form-control {
    font-size: 1.2em;
    padding-top: 0;
}

.configform label {
    font-weight: bold;
    font-size: 1rem;
}

.form-on-dark label {
    color: #c6ff84;
}

.form-control:active,
input:focus,
.form-control:focus {
    border-color: #6dc234;
}

.configform textarea {
    min-height: 75px;
}

.configform .sale {
    position: absolute;
    top: 1em;
    right: 1em;
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.configform .shop-box-1 {
    background-color: rgba(109, 194, 52, 0.18);
}

.configform .shop-box-1 .form-control[type="file"] {
    font-size: 1em;
}

.dark-1-title {
    color: white;
}

.hero-logo {
    z-index: 5000;
}

.hero-logo img {
    position: absolute;
    width: 17%;
    top: 10px;
    left: 10px;
    z-index: 1002;
}

.hero-text h2.typed {
    color: #00b6f1;
}

.hero-bottom-wrap {
    position: absolute;
    width: 200%;
    bottom: -13px;
    left: -50%;
}

@media (max-width: 1500px) {
    .hero-bottom-wrap {
        bottom: 0;
    }
}

.hero-bottom-wrap h2 {
    font-size: 13vw;
}

.navbar.navbar-toggleable-md {
    min-height: 50px;
}

.hero-text .subtext {
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: 400;
}

@media (max-width: 767px) {
    .hero-text h2.typed {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }
}

@media (max-width: 1050px) {
    .hero-text h2.typed {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

.contactform .form-control {
    font-size: 1.2em;
    padding-top: 0;
}

.contactform label {
    font-weight: bold;
    font-size: 1rem;
}

.contact-infos h5 {
    color: #aaa;
}

/* social
-------------- Hero ----------------- */
.hero-social.img-social li a::before {
    content: none;
    display: none;
}

.hero-social.img-social li a {
    bottom: 0;
}

.hero-social.img-social li a:hover {
    bottom: 5px;
}

.hero-social.img-social li img {
    display: inline-block;
    padding: 0;
    height: 50px;
    width: auto;
}

#socialLogoInput,
#blogLogoInput,
#blogCvInput,
.post-image-input {
    display: none;
}

label[for=socialLogoInput],
label[for=blogLogoInput],
label[for=blogCvInput] {
    width: 100%;
    color: white;
}

label[for=blogLogoInput] {
    margin-bottom: 0;
}

.social-icon-input-area img {
    width: 100%;
}

.blog-logo-input-area img {
    background-color: white;
    max-height: 150px;
    padding: 5px;
    border-radius: 0.15rem 0.15rem 0 0;
}

#socialModal .form-control {
    font-size: 1.2em;
    padding-top: 0;
}

#socialModal label {
    font-size: 1em;
    padding-top: 0;
}

.hidden {
    display: none;
}

.btn-info.btn-simple {
    color: #5bc0de;
    border: 2px solid #5bc0de;
    background-color: transparent;
}

.btn-info.btn-simple:hover {
    color: #fff;
}

.form-error ul {
    margin-bottom: 0;
    padding-inline-start: 0;
}

.form-error li {
    display: block;
}

#flashMessages {
    z-index: 9999;
    position: fixed;
    top: 5px;
    left: 2%;
    width: 96%;
}

button.fa-btn,
label.fa-btn {
    background: none;
    border: none;
    font-size: 2em;
    color: #6dc234;
    font-weight: bold;
}

button.fa-btn:hover,
label.fa-btn:hover {
    cursor: pointer;
    color: #c6ff84;
}

button.fa-btn:focus,
label.fa-btn:focus {
    border: none;
    outline: none;
}

.text-light-green {
    color: #c6ff84;
}

.bigger-1 {
    font-size: 1.5em;
}

.skill-value {
    border: 1px dashed #aaa;
    padding: 0.5em;
    margin: 0.3em;
}

.sn-logo {
    height: 128px;
    width: auto;
}

.footer-social-icons a img {
    height: 50px;
}

.footer-social-icons a {
    position: relative;
    bottom: 0;
    transition: all 0.2s ease-out;
}

.footer-social-icons a:hover {
    bottom: 5px;
}

ul.sitemap {
    list-style-type: none;
}

ul.sitemap li {
    margin-bottom: 0;
}

.blog-box-1.blog-admin {
    padding-bottom: 1rem;
}

.blog-box-1 img.blog-home-img {
    height: 15rem;
    object-fit: cover;
}

.background-grey {
    background-color: #aaa;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 600;
}

.dropdown-menu .dropdown-header-container .dropdown-header:not([href]):not([tabindex]) {
    color: #171717;
    padding: 0;
}

.dropdown-item:hover {
    background: #ddd;
}

.badge {
    white-space: unset;
}

.bigger-2 {
    font-size: 1.2em;
}

.edit-profile-form label {
    font-weight: bold;
    font-size: 1rem;
}

.edit-profile-form .form-control {
    font-size: 1.2em;
    padding-top: 0;
}

.background-dark dl {
    color: #6dc234;
}

.background-dark dt {
    color: #c6ff84;
}

/**   Users management table   **/
.table-clear {
    background-color: #ddd;
    border-top: none;
}

.table-clear thead th {
    border-top: none;
}

.table-danger,
.table-danger > td,
.table-danger > th {
    background-color: rgba(200, 0, 0, 0.07);
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
    background-color: rgba(200, 0, 0, 0.15);
}

.table-disabled,
.table-disabled > td,
.table-disabled > th {
    background-color: rgba(115, 115, 115, 0.25);
}

.table-hover .table-disabled:hover > td,
.table-hover .table-disabled:hover > th {
    background-color: rgba(115, 115, 115, 0.5);
}

table.align-middle td,
table.align-middle th {
    vertical-align: middle;
}

.nav-tabs .nav-link {
    color: #333;
    border: 1px solid #888;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.nav-link.active {
    background-color: #454545 !important;
    font-weight: bold;
}

.users-table button.fa-btn {
    background-color: #454545;
    width: 2em;
}

.users-table button.fa-btn > span {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
    transition: text-shadow 0.2s;
}

.users-table button.fa-btn > span.fa-lock::before {
    color: #d9534f;
    transition: color 0.5s;
}

.users-table button.fa-btn > span.fa-unlock::before {
    color: #5cb85c;
    transition: color 0.5s;
}

.users-table button.fa-btn > span.fa-user-times::before {
    color: #000;
    transition: color 0.5s;
}

.users-table button.fa-btn > span.fa-black-tie::before {
    color: #5cb85c;
    transition: color 0.5s;
}

.users-table button.fa-btn > span.fa-user::before {
    color: #5bc0de;
    transition: color 0.5s;
}

.users-table button.fa-btn:hover > span.fa-lock::before {
    content: "\f09c";
    color: #5cb85c;
}

.users-table button.fa-btn:hover > span.fa-unlock::before {
    content: "\f023";
    color: #d9534f;
}

.users-table button.fa-btn:hover > span.fa-user-times::before {
    content: "\f1f8";
    color: #ddd;
}

.users-table button.fa-btn:hover > span.fa-black-tie::before {
    content: "\f007";
    color: #5bc0de;
}

.users-table button.fa-btn:hover > span.fa-user::before {
    content: "\f27e";
    color: #5cb85c;
}

.users-table button.fa-btn:hover > span {
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

/* ---------- Cookies Notice -------------- */
.cookie-notice {
    border-top: 2px solid #f0ad4e;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;
    padding: 1.5em;
}

.cookie-notice p {
    margin: 0;
}

/* --------- Menu -------- */
#menu-wrap .navbar-brand img {
    position: absolute;
    top: -30px;
    display: block;
    max-height: 250px;
    width: auto;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#menu-wrap.cbp-af-header.cbp-af-header-shrink .navbar-brand img {
    position: absolute;
    top: 0;
    max-height: 60px;
}

@media (max-width: 991px) {
    #menu-wrap .navbar-brand img,
    #menu-wrap.cbp-af-header.cbp-af-header-shrink .navbar-brand img {
        max-height: 20px;
        top: 0;
        z-index: 50000;
    }

    .bg-faded {
        background: none;
    }
}
