{%  extends "Backend/back-base.html.twig" %}

{% block title %}Nouveau post{% endblock %}


{% block body %}

    <div class="section padding-top background-grey-2 over-hide">
        <div class="container parallax-fade-top">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title text-center">
                        <h3>Nouveau post</h3>
                        <div class="main-subtitle-bottom mt-3">
                            Ajoutez un élément dans votre book.
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    {% include 'forms/post-form.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ path }}/custom/js/custom-admin-post.js"></script>
{% endblock %}