{%  extends "base.html.twig" %}

{% block title %}Error{% endblock %}

{% block body %}
    <div class="section padding-top over-hide">
        <div class="dark-fade-over"></div>
        <div class="container parallax-fade-top">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title text-center on-dark">
                        <h3 class="error-title">Erreur 500</h3>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="section background-dark z-bigger-2 text-white padding-top-small pb-5" id="contactSection">
        <p class="text-center py-5 error-text">Une erreur s'est produite.</p>
    </div>
{% endblock %}