<?xml version="1.0" encoding="utf-8" ?>
<!--
Routes exemples :
    <route url = "">
        <param name="controller">Home</param>
        <param name="action">index</param>
    </route>
    <route url = "{controller}/{action}">
    </route>
    <route url = "{controller}/{id:\d+}/{action}">
    </route>
    <route url = "admin/{controller}/{action}">
        <param name="namespace">NS</param>
    </route>
-->
<routes>
    <route url = "">
        <param name="controller">Home</param>
        <param name="action">index</param>
    </route>
    <route url = "{controller}/{action}">
    </route>
    <route url = "{controller}/{id:\d+}/{action}">
    </route>
    <route url = "admin/{controller}/{action}">
        <param name="namespace">NS</param>
    </route>
</routes>