<h1>Au revoir !</h1>
<p>Votre compte vient d'être supprimé du blog.</p>
<p>Tous vos posts et commentaires sont à présent supprimés.</p>
{% if message %}<h2 style="font-size: 1.1em;margin-bottom: 0;">Message :</h2><p style="margin-top: .2em;">{{ message|nl2br }}</p>{% endif %}