<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
{{ path }}
{% block body %}
    <h1>Body</h1>
{% endblock %}
</body>
</html>